*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

body > div{
    background-color: #fff;
    max-width: 736px;
    margin-inline: auto;
    margin-block: 64px;
    padding: 40px;
    border-radius: 24px;
}

div img {
     width: 50%;
     border-radius: 12px;
     margin-bottom: 40px;
}

h1, h2{
    font-family: 'lora', serif;
}

h1 {
   font-size: 40px;
   color: white;
   line-height: 100%;
   margin-bottom: 24px;
}

p {
    color: black;
    line-height: 150%;
    margin-bottom: 32px;
}

li{
    padding-left: 10px;
}

h2 {
    font-size: 28px;
    color: black;
    line-height: 100%;
    margin-bottom: 24px;
}

#paragrafo {
    color: blue;
}